@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "iransans";
    font-display: block;
    font-style: normal;
    font-weight: 100;
    src: url("../../public/fonts/IRANSans.ttf");
}

@font-face {
    font-family: "yekan";
    font-display: block;
    font-style: normal;
    font-weight: 100;
    src: url("../../public/fonts/YekanBakh.ttf");
}
/* 
use @layer directive to tell tailwind wich "bucket" a set of custom styles belong to.
Valid layers are 'base', 'components', and 'utilities' 
*/
@layer components {
    .stripes {
        background-image: linear-gradient( -45deg,black 5%, transparent 5% 45%,black 45% 55%, transparent 55% 95%, black 95% 100%);
        background-size: 20px 20px;
    }
}