@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "iransans";
    font-display: block;
    font-style: normal;
    font-weight: 100;
    src: url("../../public/fonts/IRANSans.ttf");
}

@font-face {
    font-family: "yekan";
    font-display: block;
    font-style: normal;
    font-weight: 100;
    src: url("../../public/fonts/YekanBakh.ttf");
}
/* 
use @layer directive to tell tailwind wich "bucket" a set of custom styles belong to.
Valid layers are 'base', 'components', and 'utilities' 
*/

/* @layer base {

    :root {
        --stripes-rgb: 0 0 0;
        --stripes-angle: -45deg;
        --stripes-opacity: 1;
        --stripes-size: 20px;

    }
    @keyframes slide {
        from {
            transform: translateX(0)
        }
        to {
            transform: translateX(var(--stripes-size));
        }
    }
} */

/* @layer components {
    .stripes{
        position: relative;
        overflow: hidden;
        isolation: isolate;
    }
    
    .stripes::before {
        --stripes-color: rgb(var(--stripes-rgb) / var(--stripes-opacity));
        position: absolute;
        z-index: -1;
        top: 0;
        right: 0;
        height: 100%;
        width: calc(100% + var(--stripes-size));
        content: "";
        background-image: linear-gradient( var(--stripes-angle),
        var(--stripes-color) 5%, transparent 5% 45%,var(--stripes-color) 45% 55%, transparent 55% 95%, var(--stripes-color) 95% 100%);
        background-size: var(--stripes-size) var(--stripes-size);
        animation: slide 1s infinite linear;
    }
} */

/* @layer utilities {
    .stripes-white {
        --stripes-color: 255 255 255;
    }

    .stripes-reverse {
        --stripes-angle: 45deg;
    }
} */